<footer class="text-center text-lg-start bg-gray text-muted">
    <!-- Section: Links  -->
    <section class="footer">
        <div class="container text-md-start mt-5">
        <!-- Grid row -->
        <div class="row justify-content-around">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-2 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 mt-5">
                ConectaIF
            </h6>
            <p class="text-justify" style="text-align: justify;">
                Este é um projeto de Trabalho de Conclusão de Curso para a obtenção do diploma de
                Engenheiro da Computação do estudante Samuel Bianch. O projeto visa facilitar as pesquisas
                com redes complexas para pessoas que não possuem a expertise em computação.
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-2 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 mt-5">
                Complex Networks
            </h6>
            <p style="text-align: justify;">
                Na tradução para o português significa Redes Complexas, é uma abstração de um modelo real,
                para um modelo computacional, no qual visa exemplificar modelos de relações entre: pessoas,
                computadores, aeroportos, pontos de acesso e outras tantas abstrações. 
            </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-2 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 mt-5">
                Como usar
            </h6>
            <p>
                <a href="{% url 'como_fazer' %}" class="text-reset">Tutorial</a>
            </p>
            <p>
                <a href="{% url 'artigos_publicados' %}" class="text-reset">Artigos publicados</a>
            </p>
            <!--<p>
                <a href="#!" class="text-reset">Porque usar</a>
            </p>-->
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center text-white-50 p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/samuelbianch">Samuel Bianch</a>
    </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->  

<style>
    .bg-gray {
        background-color: #5D5D5D !important;
      }
    
      footer {
        width: 100% !important;
      }
    
      .footer {
        margin-top: 2% !important;
        color: #FFFFFF !important;
      }
</style>