<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="font-family: Rubiko iso, Arial, Helvetica, sans-serif;">ConectaIF</span>
    </div>
</nav>

<style>
    .h1 {
        margin-left: 5% !important;
        color: #FFFFFF !important;
        font-size: 20pt !important;
    }
    .navbar{
        padding: 0 !important;
    }
    nav .container-fluid {
        margin: 0 !important;
        background-image: linear-gradient(to right, #00B51E, #005B0F) !important;
    }
</style>