{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- As a heading -->

{% include 'partials/_nav.html' %}

<div class="container-fluid d-flex flex-wrap">
  <div class="container">
    <div class="box-rede shadow rounded border mr-auto">
      <div class="box-imagem-rede rounded">
        <img src="{% static 'img/Rede-IFMT.svg' %}" class="img-fluid" alt="...">
      </div>
    </div>
    <form class="form" method="POST">
      <div class="input-group">
        <input type="file" class="shadow p-3" placeholder="Insira seu arquivo aqui" id="input-txt" />
      </div>
      <button style=" margin: 2em; float: right;" class="btn btn-primary right">
        Enviar
      </button>
    </form>
  </div>
  


  <!--Componente para importar a lista de arestas-->
  

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            <h1 class="card-text">Reciprocidade</h1>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            <h1 class="card-text">Assortatividade</h1>
          </div>
        </div>  
      </div>
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            {% include "partials/_grafico.html" %}
            <h1 class="card-text">Transitividade Média</h1>
          </div>
        </div>
    </div>
  </div>
</div>
{% include "partials/_footer.html" %}

<style>
  .h1 {
    margin-left: 5% !important;
    color: #FFFFFF !important;
    font-size: 20pt !important;
  }

  .teste {
    font-size: 100pt !important;
    width: 300px;
    height: 300px;
    background-color: linear-gradient(to-rigth, #00B51E, #005B0F) !important;
  }

  .box-rede {
    max-width: 60%;
    height: 60%;
    border: 10px #005B0F;
    background-image: url('/static/img/Rede-IFMT.svg') no-repeat fixed;
  }

  .box-imagem-rede {
    width: 100%;
    height: 100%;
  }

  #box-imagem-rede {
    max-width: 100%;
    max-height: 100%;
  }

  
  .container {
    padding-top: 2% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-fluid {
    margin: 2em !important;
  }

  #input-txt {
    border: 0;
    box-shadow: #5D5D5D;
    border-radius: 2em;
  }

  .btn-primary {
    background-color: #00B51E !important;
  }

  .card-text {
    font-size: 16pt;
  }
</style>

{% endblock %}

