{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- As a heading -->

<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="font-family: Rubiko iso, Arial, Helvetica, sans-serif;">ConectaIF</span>
  </div>
</nav>

<div class="container-fluid d-flex flex-wrap">
  <div class="container">
    <div class="box-rede shadow rounded border mr-auto">
      <div class="box-imagem-rede rounded">
        <img src="{% static 'img/Rede-IFMT.svg' %}" class="img-fluid" alt="...">
      </div>
    </div>
    <form class="form" method="POST">
      <div class="input-group">
        <input type="file" class="shadow p-3" placeholder="Insira seu arquivo aqui" id="input-txt" />
      </div>
      <button style=" margin: 2em; float: right;" class="btn btn-primary right">
        Enviar
      </button>
    </form>
  </div>
  


  <!--Componente para importar a lista de arestas-->
  

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            <h1 class="card-text">Reciprocidade</h1>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            <h1 class="card-text">Assortatividade</h1>
          </div>
        </div>  
      </div>
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            <h1 class="card-text">Transitividade Média</h1>
          </div>
        </div>
    </div>
  </div>
</div>

  <footer class="text-center text-lg-start bg-gray text-muted">
    <!-- Section: Links  -->
    <section class="footer">
      <div class="container text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3 justify-content-around">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-2 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              ConectaIF
            </h6>
            <p class="text-justify">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. 
              Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, 
              est atque cumque eum delectus sint!
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-2 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Complex Networks
            </h6>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. 
              Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, 
              est atque cumque eum delectus sint!
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-2 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Como usar
            </h6>
            <p>
              <a href="#!" class="text-reset">Tutorial</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Artigos publicados</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Porque usar</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center text-white-50 p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://github.com/samuelbianch">Samuel Bianch</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->  

<style>
  .navbar{
    padding: 0 !important;
  }
  nav .container-fluid {
    
    margin: 0 !important;
    background-image: linear-gradient(to right, #00B51E, #005B0F) !important;
  }

  .h1 {
    margin-left: 5% !important;
    color: #FFFFFF !important;
    font-size: 20pt !important;
  }

  .teste {
    font-size: 100pt !important;
    width: 300px;
    height: 300px;
    background-color: linear-gradient(to-rigth, #00B51E, #005B0F) !important;
  }

  .box-rede {
    max-width: 60%;
    height: 60%;
    border: 10px #005B0F;
    background-image: url('/static/img/Rede-IFMT.svg') no-repeat fixed;
  }

  .box-imagem-rede {
    width: 100%;
    height: 100%;
  }

  #box-imagem-rede {
    max-width: 100%;
    max-height: 100%;
  }

  .bg-gray {
    background-color: #5D5D5D !important;
  }

  footer {
    width: 100% !important;
  }

  .footer {
    margin-top: 2% !important;
    color: #FFFFFF !important;
  }
  
  .container {
    padding-top: 2% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-fluid {
    margin: 2em !important;
  }

  #input-txt {
    border: 0;
    box-shadow: #5D5D5D;
    border-radius: 2em;
  }

  .btn-primary {
    background-color: #00B51E !important;
  }

  .card-text {
    font-size: 16pt;
  }
</style>

{% endblock %}

