{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- As a heading -->

{% include 'partials/_nav.html' %}

<div class="container-fluid d-flex flex-wrap">
  <div class="container">
      <div class="rounded" id="rede-modelada">
        {% if imagem %}
        <img src="{% static 'redes/' %}{{imagem}}" class="img-fluid" alt="Rede modelada">
        {% else %}
        <img src="/media/img/rede_exemplo.png" class="img-fluid" alt="Rede modelada">
        {% endif %}
      </div>
      <form class="form" method="POST" action="{% url 'make_graph' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
          <input type="file" name="rede-txt" class="form-control p-3" placeholder="Insira seu arquivo aqui" id="input-txt" />
        </div>
        <div>
          <input type="checkbox" id="direcionada" name="direcionada"> Direcionada </input>
        </div>
        <button class="btn btn-primary right w-50">
          Enviar
        </button>
      </form>

    <div class="row w-100">
      <table id="example" class="table table-striped text-center mt-5 justify-content" style="width:100%">
        <thead>
            <tr>
              <th>Arestas</th>
              <th>Vertices</th>
              <th>Reciprocidade</th>
              <th>Assortatividade</th>
              <th>Transitividade média</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ arestas }}</td>
            <td>{{ vertices }}</td>
            <td>{{ reciprocidade }}</td>
            <td>{{ assortatividade }}</td>
            <td>{{ mediatrans }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  


  <!--Componente para importar a lista de arestas-->
 

  <div class="container">
    <div class="row w-100 justify-content">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            {% include "partials/_grafico_reciprocidade.html" %}
            <h1 class="card-text text-center">Reciprocidade</h1>
            <span class="text-center" style="display: flex; text-align: center;">A tendência de vértices se conectarem de forma mútua</span>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            {% include "partials/_grafico_assortatividade.html" %}
            <h1 class="card-text text-center">Assortatividade</h1>
            <span class="text-center" style="display: flex; text-align: center;">A tendência de vértices de mesmo grau se conectarem</span>
          </div>
        </div>  
      </div>
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            {% include "partials/_grafico_transmedia.html" %}
            <h1 class="card-text text-center">Transitividade Média</h1>
            <span class="text-center" style="display: flex; text-align: center;">A tendência da formação de comunidades na rede</span>
          </div>
        </div>
    </div>
  </div>
</div>
{% include "partials/_footer.html" %}

<script>
	TESTER = document.getElementById('tester');
	Plotly.newPlot( TESTER, [{
	x: [1, 2, 3, 4, 5],
	y: [1, 2, 4, 8, 16] }], {
	margin: { t: 0 } } );
</script>

<style>
  .h1 {
    margin-left: 5% !important;
    color: #FFFFFF !important;
    font-size: 20pt !important;
  }

  .teste {
    font-size: 100pt !important;
    width: 300px;
    height: 300px;
    background-color: linear-gradient(to-rigth, #00B51E, #005B0F) !important;
  }

  .box-rede {
    max-width: 60%;
    height: 60%;
    border: 10px #005B0F;
    background-image: url('/static/img/Rede-IFMT.svg') no-repeat fixed;
  }

  .box-imagem-rede {
    width: 100%;
    height: 100%;
  }

  #box-imagem-rede {
    max-width: 100%;
    max-height: 100%;
  }

  
  .container {
    padding-top: 2% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-fluid {
    margin: 2em !important;
  }

  #input-txt {
    border: 0;
    box-shadow: #5D5D5D;
    border-radius: 2em;
  }

  .btn-primary {
    background-color: #00B51E !important;
  }

  .card-text {
    font-size: 16pt;
  }

  #rede-modelada{
    width: 60%;
  }
</style>

{% endblock %}

