{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- As a heading -->

{% include 'partials/_nav.html' %}

  <div class="container">
      <div class="rounded mb-3 w-100" id="rede-modelada">
        {% if imagem %}
        <div class="image-container" id="image-container">
          <img src="{% static 'redes/' %}{{imagem}}" class="img-fluid text-center" alt="Rede modelada" id="zoom-image">
        </div>
        
        {% else %}
        <!--<img src="/media/img/rede_exemplo.png" class="img-fluid text-center" alt="Rede modelada">-->
        {% endif %}
      </div>
      <form class="form w-100" method="POST" action="{% url 'make_graph' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
          <input type="file" name="rede-txt" class="form-control p-3" placeholder="Insira seu arquivo aqui" id="input-txt" />
        </div>
        <div class="mt-2">
          <input type="checkbox" id="direcionada" name="direcionada"> Direcionada </input>
          <input style="margin-left: 20px;" type="checkbox" id="ativarComunidade" name="ativarComunidade"> Gerar comunidades </input>
          <input style="margin-left: 20px;" type="checkbox" id="ativarCentralidade" name="ativarCentralidade"> Gerar as pontuações de centralidade </input>
        </div>
        <div class="mb-3 mt-2" id="selectComunidade">
          <label for="" class="form-label">Comunidade</label>
          <select
            class="form-select form-select-lg input-txt"
            name="comunidade"
            id="comunidade"
          >
            <option selected>Selecione um método de geração de comunidade</option>
            <option value="0">Betweenness (Girvan-Newman)</option>
            <option value="1">Multilevel (Blondel)</option>
            <option value="2">Infomap</option>
            <option value="3">FastGreedy</option>
            <option value="4">Leiden</option>
          </select>
        </div>
        <div class="mb-3 mt-2" id="selectCentralidade">
            <label for="" class="form-label">Pontuação dos vértices</label>
            <select
              class="form-select form-select-lg input-txt"
              name="centralidade"
              id="centralidade"
            >
              <option selected>Selecione um método de pontuação de acordo com a centralidade</option>
              <option value="0">Grau</option>
              <option value="1">Betweenness</option>
              <option value="2">Closeness</option>
            </select>
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-primary right w-25">
            Enviar
          </button>
        </div>
      </form>
      {% if imagem %}
      <div>      
        <a class="btn btn-primary mt-2" id="downloadBtn" href="{% url 'generate_pdf' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"></path>
          </svg>
          Baixar relatório completo da rede
        </a>
      </div>
      {% else %}
      {% endif %}
    <div class="row w-100">
      <table id="example" class="table table-striped text-center mt-5 justify-content" style="width:100%">
        <thead>
            <tr>
              <th>Arestas</th>
              <th>Vértices</th>
              <th>Reciprocidade</th>
              <th>Assortatividade</th>
              <th>Transitividade média</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ arestas }}</td>
            <td>{{ vertices }}</td>
            <td>{{ reciprocidade }}</td>
            <td>{{ assortatividade }}</td>
            <td>{{ mediatrans }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

  <div class="container">
    <h2>Visualize as comunidades e pontuações dos vértices</h2>
    <div class="row w-100">
      <div class="card text-start">
        {% if comunidade %}
        <img class="card-img-top" src="{% static 'redes/comunidades/' %}{{ comunidade }}" alt="Title" />
        {% else %}
        <p>Adicione uma rede complexa</p>
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">Comunidade da rede inserida</h4>
        </div>
      </div>
      
      <div class="card text-start mt-3">
        {% if centralidade %}
          <img class="card-img-top" src="{% static 'redes/centralidade/' %}{{ centralidade }}" alt="Title" />
        {% else %}
          <p>Adicione uma rede complexa</p>
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">Pontuação dos vértices</h4>
        </div>
      </div>
    </div>
  </div>
  

  <!--Componente para importar a lista de arestas-->
 

  <div class="container">
    <div class="row w-100 justify-content">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            {% include "partials/_grafico_reciprocidade.html" %}
            <h1 class="card-text text-center">Reciprocidade</h1>
            <span class="text-center" style="display: flex; text-align: center;">A tendência de vértices se conectarem de forma mútua</span>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            {% include "partials/_grafico_assortatividade.html" %}
            <h1 class="card-text text-center">Assortatividade</h1>
            <span class="text-center" style="display: flex; text-align: center;">A tendência de vértices de mesmo grau se conectarem</span>
          </div>
        </div>  
      </div>
        <div class="card" style="width: 18rem;">
          <!--<img src="" class="card-img-top" alt="">-->
          <div class="card-body">
            {% include "partials/_grafico_transmedia.html" %}
            <h1 class="card-text text-center">Transitividade Média</h1>
            <span class="text-center" style="display: flex; text-align: center;">A tendência da formação de comunidades na rede</span>
          </div>
        </div>
    </div>
  </div>
</div>
{% include "partials/_footer.html" %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

  function baixarPDF() {
    console.log("Baixando PDF...");
    window.open('/generate_pdf/', '_blank').focus();
  }

  function enviaImagens() {
    const caminhos_imagens = [
      "redes/{{imagem}}",
      "redes/comunidades/{{comunidade_blondel}}",
      "redes/comunidades/{{comunidade_betweenness}}"
    ];

    fetch('/download-images/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // Inclua o token CSRF para proteção
                },
                body: JSON.stringify({ image_paths: caminhos_imagens })
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'imagens.zip';
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => console.error('Error:', error));
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  $(document).ready(function() {
        function ativarComunidade() {
            if ($('#ativarComunidade').is(':checked')) {
                $('#selectComunidade').show();
            } else {
                $('#selectComunidade').hide();
            }
        }

        // Inicializar a exibição dos inputs com base no estado inicial do checkbox
        ativarComunidade();

        // Alterar a exibição dos inputs com base nas mudanças do estado do checkbox
        $('#ativarComunidade').change(ativarComunidade);
    });

    $(document).ready(function() {
        function ativarCentralidade() {
            if ($('#ativarCentralidade').is(':checked')) {
                $('#selectCentralidade').show();
            } else {
                $('#selectCentralidade').hide();
            }
        }

        // Inicializar a exibição dos inputs com base no estado inicial do checkbox
        ativarCentralidade();

        // Alterar a exibição dos inputs com base nas mudanças do estado do checkbox
        $('#ativarCentralidade').change(ativarCentralidade);
    });

    const container = document.getElementById('image-container');
    const image = document.getElementById('zoom-image');
    let isZoomed = false;
    let startX, startY, moveX = 0, moveY = 0;

    container.addEventListener('click', () => {
        if (isZoomed) {
            image.style.transform = 'scale(1)';
            isZoomed = false;
            container.classList.remove('zoom-in');
            moveX = 0;
            moveY = 0;
        } else {
            image.style.transform = 'scale(2)';
            isZoomed = true;
            container.classList.add('zoom-in');
        }
    });

    container.addEventListener('mousedown', (e) => {
        if (isZoomed) {
            container.classList.add('zoom-in');
            startX = e.clientX - moveX;
            startY = e.clientY - moveY;
            container.addEventListener('mousemove', moveImage);
        }
    });

    container.addEventListener('mouseup', () => {
        container.classList.remove('zoom-in');
        container.removeEventListener('mousemove', moveImage);
    });

    container.addEventListener('mouseleave', () => {
        container.classList.remove('zoom-in');
        container.removeEventListener('mousemove', moveImage);
    });

    function moveImage(e) {
        moveX = e.clientX - startX;
        moveY = e.clientY - startY;
        const imgRect = image.getBoundingClientRect();
        const containerRect = container.getBoundingClientRect();

        // Limites para não sair do container
        const minX = containerRect.width - imgRect.width / 2;
        const minY = containerRect.height - imgRect.height / 2;

        if (moveX > 0) moveX = 0;
        if (moveY > 0) moveY = 0;
        if (moveX < minX) moveX = minX;
        if (moveY < minY) moveY = minY;

        image.style.transform = `scale(2) translate(${moveX}px, ${moveY}px)`;
    }
</script>

<style>
  .h1 {
    margin-left: 5% !important;
    color: #FFFFFF !important;
    font-size: 20pt !important;
  }

  .teste {
    font-size: 100pt !important;
    width: 300px;
    height: 300px;
    background-color: linear-gradient(to-rigth, #00B51E, #005B0F) !important;
  }

  .box-rede {
    max-width: 100%;
    height: 100%;
    border: 10px #005B0F;
    background-image: url('/static/img/Rede-IFMT.svg') no-repeat fixed;
  }

  .box-imagem-rede {
    width: 100%;
    height: 100%;
  }

  #box-imagem-rede {
    max-width: 100%;
    max-height: 100%;
  }

  
  .container {
    padding-top: 2% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-fluid {
    margin: 2em !important;
  }

  .input-txt {
    border: 0;
    box-shadow: #5D5D5D;
    border-radius: 2em;
  }

  .btn-primary {
    background-color: #00B51E !important;
  }

  .card-text {
    font-size: 16pt;
  }

  #rede-modelada{
    width: 80%;
  }

  .image-container {
    position: relative;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do contêiner */
    cursor: zoom-in; /* Cursor para indicar que o usuário pode clicar para dar zoom */
  }

  .image-container img {
    width: 100%;
    transition: transform 0.2s;
    cursor: zoom-in;
  }

  .image-container.zoom-in img {
    cursor: zoom-out; /* Cursor para indicar que o usuário pode clicar para diminuir o zoom */
  }

  .image-container.zoom-in {
    cursor: move; /* Cursor para indicar que o usuário pode arrastar a imagem */
  }
  
</style>

{% endblock %}

